@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&family=Kufam:ital,wght@0,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,500;1,600;1,800&display=swap');

* {
  box-sizing: border-box;
} 
html{
    font-size: min(max(1rem, 4vw), 22px); 
}
.grid {
    display: grid;
    grid-template-columns: [x0] 20vw [x1] 19vw [x2] 20vw [x3] 19vw [x4] 20vw [x5];
    grid-template-rows: [y0] 21vh [y1] 7vh [y2];
}
.header {
    top: 0vh;
    position: sticky;
    background-color: brown;
    color: bisque;
    grid-column: x1 / x4;
    grid-row: y0 / y1;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Grenze Gotisch', cursive;
}
.header-imgR{
    top: 0vh;
    position: sticky;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    background: url("../img/danielle-macinnes-IuLgi9PWETU-unsplash.jpg");
    background-size: cover;
}
.header-imgL{
    top: 0vh;
    position: sticky;
    grid-column: x4 / x5;
    grid-row: y0 / y1;
    background: url("../img/chris-liverani-9cd8qOgeNIY-unsplash.jpg");
    background-size: cover;
}
@media only screen and (max-width: 1024px) {
    .header{
      font-size: 2.3rem;
      padding-top: 1.2rem;
    }
}
@media only screen and (max-width: 800px) {
    .header{
      font-size: 1.9rem;
      padding-top: 1.5rem;
    }
}
@media only screen and (max-width: 640px) {
    .header{
      font-size: 1.5rem;
      padding-top: 1.7rem;
    }
}
@media only screen and (max-width: 320px) {
    .header{
      font-size: 1rem;
      padding-top: 1.9rem;
    }
}
.nav {
    top: 21vh;
    position: sticky;
    background-color: orangered;
    grid-column: x0 / x5;
    grid-row: y1 / y2;
}  
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em;
} 
@media only screen and (max-width: 1024px) {
    nav li{
      font-size: 0.9rem;
    }
}
@media only screen and (max-width: 800px) {
    nav li{
      font-size: 0.8rem;
    }
}
@media only screen and (max-width: 640px) {
nav li{
      font-size: 0.7rem;
    }
}
@media only screen and (max-width: 320px) {
    nav li{
      font-size: 0.7rem;
    }
}
nav li a{
    text-decoration: none;
}
.content {
    grid-column: x0 / x3;
    background-color:  burlywood;
    color: rgb(64, 57, 66);
}    
.sidebar {
    grid-column: x3 / x5;
    background-color:  burlywood;
    color: rgb(64, 57, 66);
}
h1 {
    font-size: 2rem;
    padding-right: 10pt;
    padding-left: 10pt;
}
h2 {
    font-size: 1.75rem;
    padding-right: 10pt;
    padding-left: 10pt;
}
h3 {
    font-size: 1.5em;
    padding-right: 10pt;
    padding-left: 10pt;
}
p {
    font-family: verdana;
    font-size: 16px;
    text-align: justify;
    padding-right: 10pt;
    padding-left: 10pt;
}
#div1 {
    width: 6rem;
    border: 2px solid rgb(116, 12, 12);
    background-color: orangered;
    padding: 0.5rem;
    text-align: center;
}
#div1 a{
    text-decoration: none;
}
a {
    color: bisque;
}
a:hover{
    background-color: bisque;
    color: darkgoldenrod;
}
a:active {
    background-color: bisque;
    color: rgb(116, 12, 12);
}
.map {
    grid-column: x0 / x2; 
    background-color: darkorange;
    color: black;
} 
.form{
    grid-column: x2 / x5; 
    background-color: darkorange;
    color: black;
}
/* cambiar despues */
.mapa {
    padding-left: 6em;;
    width: 50%;
    float: left;
}
.formulario {
    padding-left: 2em;
    width: 50%;
    float: right;
}
/* hasta acá*/
.footer {
    background-color: brown;
    grid-column: x0 / x5;
    color: bisque;
    font-size: 0.8rem;
    padding: 0.5em;
}
