/* @import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap'); */

@font-face{font-family: 'Grenze Gotisch';src:url("../css/fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf");}
@font-face{font-family: "Kufam";src:url("../css/fonts/Kufam/Kufam-Italic-VariableFont_wght.ttf");}

* {
  box-sizing: border-box;
} 
html{
    font-size: min(max(1rem, 4vw), 22px); 
    background-color:  burlywood;
    color: rgb(64, 57, 66);
}
.flex-container {
    display: flex;
    align-items: stretch;
    background-color: brown;
    height: 21vh;
    width: 100%;
    top: 0vh;
    position: sticky;
}
.flex-container > div {
    background-color: brown;
    color: bisque;
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    font-family:'Grenze Gotisch', cursive;
    padding-top: 1rem;
}
@media only screen and (max-width: 1024px) {
    .flex-container > div{
      font-size: 2.3rem;
      padding-top: 1.2rem;
    }
}
@media only screen and (max-width: 800px) {
    .flex-container > div{
      font-size: 1.9rem;
      padding-top: 1.5rem;
    }
}
@media only screen and (max-width: 640px) {
    .flex-container > div{
      font-size: 1.5rem;
      padding-top: 1.7rem;
    }
}
@media only screen and (max-width: 320px) {
    .flex-container > div{
      font-size: 1rem;
      padding-top: 1.9rem;
    }
}
nav {
    top: 21vh;
    position: sticky;
    background-color: orangered;
    font-family: 'Kufam', cursive;
    height: 7vh;
    width: 100%;
}  
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em;
}
nav li a{
  text-decoration: none;
} 
p {
  font-family: verdana;
  text-align: justify;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
#div1 {
  width: 8rem;
  border: 2px solid rgb(116, 12, 12);
  background-color: orangered;
  padding: 0.5rem;
  text-align: center;
}
#div1 a{
  text-decoration: none;
}
a {
  color: bisque;
}
a:hover{
  background-color: bisque;
  color: darkgoldenrod;
}
a:active {
  background-color: bisque;
  color: rgb(116, 12, 12);
}
@media only screen and (max-width: 1024px) {
    nav li, #div1, p, footer{
      font-size: 0.9rem;
      padding: 0.4rem;
    }
}
@media only screen and (max-width: 800px) {
    nav li, #div1, p, footer{
      font-size: 0.8rem;
      padding: 0.3rem;
    }
}
@media only screen and (max-width: 640px) {
nav li, #div1, p, footer{
      font-size: 0.7rem;
      padding: 0.2rem;
    }
}
@media only screen and (max-width: 320px) {
    nav li, #div1, p, footer{
      font-size: 0.7rem;
      padding: 0.1rem;
    }
}  
h2 {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
@media only screen and (max-width: 1024px) {
  h2{
    font-size: 1.3rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
@media only screen and (max-width: 800px) {
  h2{
    font-size: 1.2rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
@media only screen and (max-width: 640px) {
  h2{
    font-size: 1.1rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}
@media only screen and (max-width: 320px) {
  h2{
    font-size: 1rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }
}
.mapa {
    padding-left: 4em;;
    width: 50%;
    float: left;
}
.formulario {
    padding-left: 2em;
    width: 50%;
    float: right;
}
@media only screen and (max-width: 800px) {
  .mapa, .formulario{
    clear: both;
    margin: auto;
    width: 100%;
  }
}
footer {
    clear: both;
    background-color: brown;
    color: bisque;
    font-family: 'Kufam', cursive;
    padding: 0.5em;
}
