html{
  font-size: min(max(1rem, 4vw), 22px); 
} 
body {
  background-color:  burlywood;
  color: rgb(64, 57, 66);
}
header{
  height: 6rem;
  background-color: brown;
  color: bisque;
}
#header-title{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
#header-img{
  width: 20%;
  height: 6rem;
}
@media only screen and (max-width: 1000px) {
  #header-title{
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 850px) {
  #header-title{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 650px) {
  #header-title{
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 400px) {
  #header-title{
    font-size: 1.2rem;
  }
}
footer{
  background-color: brown;
  font-size: 0.8rem;
  text-align: center;
  color: bisque;
  padding: 0.5em;
  clear: both;
}
nav{
  clear: both;
  background-color: orangered;
  height: 2rem;
}
nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em;
} 
@media only screen and (max-width: 1000px) {
  nav li{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 800px) {
  nav li{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 650px) {
  nav li{
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 400px) {
  nav li{
    font-size: 0.7rem;
  }
}
nav li a{
  text-decoration: none;
}
main{
  clear: both;
}
h1 {
  font-size: 2rem;
  padding-right: 10pt;
  padding-left: 10pt;
}
h2 {
  font-size: 1.75rem;
  padding-right: 10pt;
  padding-left: 10pt;
}
h3 {
  font-size: 1.5em;
  padding-right: 10pt;
  padding-left: 10pt;
}
p {
  font-family: verdana;
  font-size: 16px;
  text-align: justify;
  padding-right: 10pt;
  padding-left: 10pt;
}
#div1 {
  width: 150px;
  border: 2px solid rgb(116, 12, 12);
  background-color: orangered;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  float: left;
}
#div1 a{
  text-decoration: none;
}
a {
  color: bisque;
}
a:hover{
  background-color: bisque;
  color: darkgoldenrod;
}
a:active {
  background-color: bisque;
  color: rgb(116, 12, 12);
}
#two-columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
} 
.cuerpo{
  background-color: bisque; 
}
.cuerpo p{
  margin-left: 150px;
}
.cuerpo ul {
  list-style-type: circle;
}
.cuerpo li{
  clear: both;
  margin-left: 150px;
}
.cuerpo ol{
  list-style-type: lower-roman;
}
.cuerpo li a {
  color: darkgoldenrod;
}
.cuerpo li a:hover {
  color:  orangered;
}


