@font-face{font-family: 'Grenze Gotisch';src:url("../css/fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf");}
@font-face{font-family: "Kufam";src:url("../css/fonts/Kufam/Kufam-Italic-VariableFont_wght.ttf");}

* {
    box-sizing: border-box;
} 
html{
    font-size: min(max(1rem, 4vw), 22px); 
}
.grid {
    display: grid;
    grid-template-columns: [x0] 20vw [x1] 19vw [x2] 20vw [x3] 19vw [x4] 20vw [x5];
    grid-template-rows: [y0] 21vh [y1] 7vh [y2];
}
.header {
    top: 0vh;
    position: sticky;
    grid-column: x1 / x4;
    grid-row: y0 / y1;
    background-color: brown;
    color: bisque;
    font-size: 2.5rem;
    text-align: center;
    font-family:'Grenze Gotisch', cursive;
    padding-top: 1rem;
}
@media only screen and (max-width: 1024px) {
    .header{
      font-size: 2.3rem;
      padding-top: 1.2rem;
    }
}
@media only screen and (max-width: 800px) {
    .header{
      font-size: 1.9rem;
      padding-top: 1.5rem;
    }
}
@media only screen and (max-width: 640px) {
    .header{
      font-size: 1.5rem;
      padding-top: 1.7rem;
    }
}
@media only screen and (max-width: 320px) {
    .header{
      font-size: 1rem;
      padding-top: 1.9rem;
    }
}
.img1{
    top: 0vh;
    position: sticky;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    background-image:url('../img/chris-ried-ieic5Tq8YMk-unsplash.jpg');
    background-size: cover; 
    background-position: center;
}
.img2{
    top: 0vh;
    position: sticky;
    grid-column: x4 / x5;
    grid-row: y0 / y1;
    background-image:url('../img/william-iven-jrh5lAq-mIs-unsplash.jpg');
    background-size: cover; 
    background-position: center;
}
.nav {
    top: 21vh;
    position: sticky;
    background-color: orangered;
    grid-column: x0 / x5;
    grid-row: y1 / y2;
    color: black;
    font-family: 'Kufam', cursive;
} 
.content {
    grid-column: x1 / x5;
    background-color:  burlywood;
    color: rgb(64, 57, 66);
}    
.sidebar {
    grid-column: x0 / x1;
    margin: 0;
    padding: 0;
    background-color: orangered;
    overflow: auto;
    font-family: 'Kufam', cursive;
}
  
.sidebar a {
    display: block;
    color: bisque;
    padding: 0.7rem;
    text-decoration: none;
}

.sidebar a.active {
    background-color: brown;
    color: bisque;
}

.sidebar a:hover:not(.active) {
    background-color: burlywood;
    color: brown;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li a{
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
    .sidebar{
        grid-row: y2 / y3;
        grid-column: x0 / x5;  
    }
    .sidebar li {
        display: inline-block;
        text-align: justify;
    }
    .content{
        grid-column: x0 / x5;
    }
}
.footer {
    grid-column: x0 / x5;
    background-color: brown;
    color: bisque;
    font-family: 'Kufam', cursive;
    padding: 0.5em;
}
.nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em;
}
.nav li a{
  text-decoration: none;
} 
p {
    font-family: verdana;
    text-align: justify;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
@media only screen and (max-width: 1024px) {
    .nav li, #div1, p, .footer, .sidebar{
      font-size: 0.8rem;
      padding: 0.4rem;
    }
}
@media only screen and (max-width: 800px) {
    .nav li, #div1, p, .footer, .sidebar{
      font-size: 0.7rem;
      padding: 0.3rem;
    }
}
@media only screen and (max-width: 640px) {
    .nav li, #div1, p, .footer, .sidebar{
      font-size: 0.6rem;
      padding: 0.2rem;
    }
}
@media only screen and (max-width: 320px) {
    .nav li, #div1, p, .footer, .sidebar{
      font-size: 0.5rem;
      padding: 0.1rem;
    }
}