html{
    font-size: 22px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 8fr [y1] 3fr [y2] 40fr [y3] 2fr [y4];
  }

  .header {
    background-color: brown;
    grid-column: x0 / x3;
    grid-row: y0 / y1;
    color: bisque;
  }

  .nav {
      background-color: orange;
      grid-column: x0 / x3;
      grid-row: y1 / y2;
      color: black;
  }
  
  .content {
    background-color: darkorange;
    grid-column: x0 / x2;
    grid-row: y2 / y3;
    color: black;
  }
    
  .sidebar {
    background-color: darkgoldenrod;
    grid-column: x2 / x3;
    grid-row: y2 / y3;
    color: bisque;
  }
  
  .footer {
    background-color: brown;
    grid-column: x0 / x3;
    grid-row: y3 / y4;
    color: bisque;
  }

  #div1 {
    width: 150px;
    border: 2px solid rgb(116, 12, 12);
    background-color: orangered;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    float: left;
  }
  #div1 a{
    text-decoration: none;
  }
  a {
    color: bisque;
  }
  a:hover{
    background-color: bisque;
    color: darkgoldenrod;
  }
  a:active {
    background-color: bisque;
    color: rgb(116, 12, 12);
  }