@font-face{font-family: 'Grenze Gotisch';src:url("../css/fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf");}
@font-face{font-family: "Kufam";src:url("../css/fonts/Kufam/Kufam-Italic-VariableFont_wght.ttf");}

.d-flex{
    z-index: 10;
    background-color: brown;
    color: bisque;
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    font-family:'Grenze Gotisch', cursive;
    padding-top: 1rem;
}
.d-flex > div{
    background-color: brown;
    color: bisque;
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    font-family:'Grenze Gotisch', cursive;
    padding-top: 1rem;
}
nav {
    position: fixed;
    width: 100%;
    top: 21vh;
    right: 0;
    z-index: 10;
    background-color: orangered;
    font-family: 'Kufam', cursive;
    height: 7vh;
}  
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em;
}
nav li a{
text-decoration: none;
} 
.container {
    font-size: min(max(1rem, 4vw), 22px); 
    background-color:  burlywood;
    color: rgb(64, 57, 66);
    font-family: verdana;
    text-align: justify;
    padding: 0.5rem;
}
footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: brown; 
    color: bisque;
    font-family: 'Kufam', cursive;
    padding: 0.5em;
}
.fa {
    padding: 0 1rem;
    width: auto;
}
.fa:hover{
    opacity: 0.5;
}
nav a {
    color: bisque;
}
a{
    color: brown;
}
a:hover{
    background-color: bisque;
    color: darkgoldenrod;
}
a:active {
    background-color: bisque;
    color: rgb(116, 12, 12);
}
